<form method="post" action='/cars/add'>
  <input type="text" name="car[make]" placeholder="Make" />
  <input type="text" name="car[model]" placeholder="Model" />
  <input type="text" name="car[year]" placeholder="Year" />
  <input type="text" name="car[transmission]" placeholder="Transmission Type" />
  <input type="text" name="car[color]" placeholder="Color" />
  <input type="submit" value="Submit" />
</form>
