<h1>Create a New Car</h1>

<form action="/cars" method="post">
  <label>Year</label>
  <input type="text" name ="year(params[:id])"

  <label>Make</label>
  <input type="text" name ="make(params[:id])"

  <label>Model</label>
  <input type="text" name ="model(params[:id])"

  <label>Color</label>
  <input type="text" name ="color(params[:id])"

  <label>transmission</label>
  <input type="text" name ="transmission(params[:id])"

  <input type="submit" value="Create">

<% @cars.each do |car| %>
<p><%= car %></p>
<% end %>
