<h1> New Car </h1>

<form action="/cars" method="post">

<label for="">Year</label>
<input type="text" name="cars[year]" >

<label for="">Make</label>
<input type="text" name="cars[make]" >

<label for="">Model</label>
<input type="text" name="cars[model]" >

<label for="">Transmission</label>
<input type="text" name="cars[transmission]" >
<label for="">Color</label>
<input type="text" name="cars[color]" >


<button type="submit" name="button">Submit</button>

</form>
