<h1>Create new car</h1>

<form action="/cars" method="post">
  <label>Car year</label>
  <input type = "text" name="car[name]">

  <label>Car Make</label>
  <input type="text" name="car[make]">

  <label>Car Model</label>
  <input type="text" name="car[model]">

  <label>Car Transmission</label>
  <input type="text" name="car[transmission]">

  <label>Car Color</label>
  <input type="text" name="car[color]">

<button type = "submit">submit</button>
</form>
