<h2>New Content</h2>

<form action="/content" method="post" >
  <label for="content[name]">Name:</label>
  <input name="content[name]">

  <label for="content[file]">File:</label>
  <input name="content[file]">

  <label for="content[size]">Size:</label>
  <input name="content[size]">

  <input type="submit" value="Create">
</form>
