<h2> New Car </h2>

<form action="/car" method="post">
  <label>Car's Year</label>
  <input type="number" name="car[year]">

  <label>Car Make</label>
  <input type="text" name="car[make]">

  <label>Car's Model</label>
  <input type="text" name="car[model]">

  <label>Car's Color</label>
  <input type="text" name="car[color]">

  <label>Car's Transmission</label>
  <input type="text" name="car[transmission]">

  <button type="submit">Submit</button>
</form>
