<h2>Add a New Car!</h2>

<form action="/car" method="post">
  <label for="">Car Year</label>
  <input type="text" name="car[year]">

  <label for="">Car Make</label>
  <input type="text" name="car[make]">

  <label for="">Car Model</label>
  <input type="text" name="car[model]">

  <label for="">Car Color</label>
  <input type="text" name="car[color]">

  <label for="">Car Transmission</label>
  <input type="text" name="car[transmission]">

  <button type="submit">Submit</button>
</form>

<form action="/car">
  <button>Go Back Home</button>
</form>
