<h2> Show A Car </h2>
  <pre>
     <%= sprintf('%-10s %10s %15s %15s %15s','Year','Make','Model', 'Transmission', 'Color') %>
     <%= sprintf('%-10ds %10s %15s %15s %15s ',@car.year, t@car.make,@car.model,@car.transmission,@car.color)%>
     <% end %>
  </pre>

<a href= "/cars"> Return to view all cars </a>
