<h2>New To-do</h2>

<form action="/todos" method="post">
  <input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>">

  <label for="todo[content]">Content:</label>
  <input name="todo[content]">

  <label for="todo[is_completed]">Completed? </label>
  <input name="todo[is_completed]">

  <input type="submit" value="Create">
</form>
