<h1>LET'S LOOK AT SOME SHIT</h1>

<p><%= @todo.content %></p>

<% if @todo.is_completed == true %>
  <h2 class="green">CONGRATULATIONS YOU DID THE THING!!!!!!</h2>
<% else %>
  <h2 class="red">!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!</h2>
  <h2 class="red">YOU NEED TO DO THE THING!!!!!!</h2>
  <h2 class="red">!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!</h2>
<% end %>

<a class="button_link" href="/"><h4 class="button">BACK</h4></a>
