<%= link_to "< Back", todos_path %>
<p>
    <div class="well">
        <h4>Task: </h4><h2><%= @todo.content %></h2>
        <h4>Completed: </h4><h5> <%= @todo.is_completed %></h5>
    </dvi>
    <hr>
