<h1>Welcome to the Coding Library</h1>
<h3><%= link_to "Add a New Book", new_post_path %></h3>

<h3>Available Books:</h3>
<ul>
  <% @posts.each do |post| %>
    <li>
      <p>Title: "<%= link_to post.body, post %>"</p>
      <p>By: <%= post.author %></p>
    </li>
  <% end %>
</ul>
