<h2>New Car</h2>

<form action="/cars" method="post">

  <label>Year</label>
  <input type="text" name="car[year]">

  <label>Make</label>
  <input type="text" name="car[make]">

  <label>Model</label>
  <input type="text" name="car[model]">

  <label>Color</label>
  <input type="text" name="car[color]">

  <label>Transmission</label>
  <input type="text" name="car[transmission]">

  <button type="submit">Submit</button>

</form>

<a href="/cars">Return to home</a>
