<h2>New Car</h2>

<form action="/cars" method="post">
  <label>year</label>
  <input type="text" name ="car[year]">

  <label>make</label>
  <input type="text" name ="car[make]">

  <label>model</label>
  <input type="text" name ="car[model]">

  <label>color</label>
  <input type="text" name ="car[color]">

  <label>transmission</label>
  <input type="text" name ="car[transmission]">

  <button type="submit">Submit</button>
</form>
